<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\home\LogFiles\internallog.txt">

<extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>
    <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
      <instrumentationKey>24956a00-6401-49a1-acef-9a9c4137446b</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>